{% extends "layout.html" %}
{% block body %}
   
    <h1>Register for NAMKA</h1>
    <br>
    <form action="/register" method="post">
        <input type="text" name="name" autocomplete="off" placeholder="Name" autofocus name="name">
        <select name="city">
            <option disabled selected value="">City</option>
            <option value="Bloem">Bloem</option>
            <option value="Durban">Durban</option>
            <option value="Cape Town">Cape Town</option>
        </select>
        <br>
        <input type="submit" value="Register" id="greet" onclick="submitForm()">
    </form>
{% endblock %} .